# ignored files for Git

*.a
*.css
*.gmo
*.html
*.la
*.lai
*.lo
*.m4
*.o
*.pdf
*.Plo
*.Po
*.so
*.so.0
*.so.0.0.0
*.xsl

ABOUT-NLS
doc/*/*autogen*
autom4te*
build/*
config.guess
config.h*
config.log
config.rpath
config.status
config.sub
configure
date.xml
depcomp
insert-header.sin
install-sh
intl/*
libtool
ltmain.sh
Makefile
Makefile.in*
Makevars.template
missing
po/*quot*
POTFILES
remove-potcdate.sed
Rules-quot

*stamp
stamp*

src/gui/curses/weechat-curses
src/gui/gtk/weechat-gtk
