# ignored files for Git

*.a
*.gmo
*.html
*.la
*.lai
*.lo
*.m4
*.o
*.Plo
*.Po
*.so
*.so.0
*.so.0.0.0

ABOUT-NLS
autom4te*
build*/*
config.guess
config.h*
config.log
config.rpath
config.status
config.sub
configure
debian/*.log
depcomp
insert-header.sin
install-sh
intl/*
libtool
ltmain.sh
Makefile
Makefile.in*
Makevars.template
missing
po/*quot*
POTFILES
remove-potcdate.sed
Rules-quot
weechat.pc

*stamp
stamp*

src/gui/curses/weechat-curses
src/gui/gtk/weechat-gtk
