[Desktop Entry]
Name=WeeChat
GenericName=Chat client
GenericName[de]=Chat-Client
GenericName[fr]=Client de discussion
Comment=Extensible chat client
Comment[de]=erweiterbarer Chat-Client
Comment[fr]=Client de discussion extensible
Keywords=WeeChat;extensible;chat;IRC;client;console;terminal;
Keywords[de]=WeeChat;erweiterbar;Diskussion;IRC;Client;console;terminal;
Keywords[fr]=WeeChat;extensible;discussion;IRC;client;console;terminal;
Exec=weechat %u
Terminal=true
Icon=weechat
Type=Application
Categories=Network;Chat;IRCClient;ConsoleOnly;
MimeType=x-scheme-handler/irc;x-scheme-handler/ircs;
