[Desktop Entry]
Name=WeeChat
GenericName=Chat client
GenericName[fr]=Client de discussion
Comment=Extensible chat client
Comment[fr]=Client de discussion extensible
Exec=weechat %u
Terminal=true
Icon=weechat
Type=Application
Categories=Network;Chat;IRCClient;ConsoleOnly;
MimeType=x-scheme-handler/irc;x-scheme-handler/ircs;
