<?xml version="1.0" encoding="iso-8859-1"?>
<row>
  <entry><option>look_set_title</option></entry>
  <entry>booléen</entry>
  <entry>'on' ou 'off'</entry>
  <entry>'on'</entry>
  <entry>Définit le titre de la fenêtre (terminal pour l'interface Curses) avec le nom et la version</entry>
</row>
<row>
  <entry><option>look_startup_logo</option></entry>
  <entry>booléen</entry>
  <entry>'on' ou 'off'</entry>
  <entry>'on'</entry>
  <entry>Afficher le logo WeeChat au démarrage</entry>
</row>
<row>
  <entry><option>look_startup_version</option></entry>
  <entry>booléen</entry>
  <entry>'on' ou 'off'</entry>
  <entry>'on'</entry>
  <entry>Afficher la version de WeeChat au démarrage</entry>
</row>
<row>
  <entry><option>look_weechat_slogan</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>'the geekest IRC client!'</entry>
  <entry>Slogan WeeChat (si vide, le slogan ne sera pas utilisé)</entry>
</row>
<row>
  <entry><option>look_charset_decode_iso</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>'ISO-8859-1'</entry>
  <entry>Jeu de caractères ISO pour décoder les messages du serveur (utilisé seulement si la locale est UTF-8) (si non renseigné, les messages ne sont pas convertis si la locale est UTF-8)</entry>
</row>
<row>
  <entry><option>look_charset_decode_utf</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>'UTF-8'</entry>
  <entry>Jeu de caractères UTF pour décoder les messages du serveur (utilisé seulement si la locale n'est pas UTF-8) (si non renseigné, les messages ne sont pas convertis si la locale n'est pas UTF-8)</entry>
</row>
<row>
  <entry><option>look_charset_encode</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>''</entry>
  <entry>Jeu de caractères pour encoder les messages envoyés au serveur, exemples: UFT-8, ISO-8859-1 (si non renseigné, les messages ne sont pas convertis)</entry>
</row>
<row>
  <entry><option>look_charset_internal</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>''</entry>
  <entry>Force le jeu de caractères interne à WeeChat (doit être vide dans la plupart des cas, ce qui signifie que le jeu de caractères détecté est utilisé)</entry>
</row>
<row>
  <entry><option>look_one_server_buffer</option></entry>
  <entry>booléen</entry>
  <entry>'on' ou 'off'</entry>
  <entry>'off'</entry>
  <entry>Utiliser le même tampon pour tous les serveurs</entry>
</row>
<row>
  <entry><option>look_buffer_timestamp</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>'[%H:%M:%S]'</entry>
  <entry>Format de date/heure pour les tampons</entry>
</row>
<row>
  <entry><option>look_color_nicks_number</option></entry>
  <entry>entier</entry>
  <entry>entre 1 et 10</entry>
  <entry>10</entry>
  <entry>Nombre de couleurs à utiliser pour les couleurs des pseudos</entry>
</row>
<row>
  <entry><option>look_color_actions</option></entry>
  <entry>booléen</entry>
  <entry>'on' ou 'off'</entry>
  <entry>'on'</entry>
  <entry>Afficher les actions avec différentes couleurs</entry>
</row>
<row>
  <entry><option>look_nicklist</option></entry>
  <entry>booléen</entry>
  <entry>'on' ou 'off'</entry>
  <entry>'on'</entry>
  <entry>Afficher la fenêtre des utilisateurs (pour les fenêtres de canaux)</entry>
</row>
<row>
  <entry><option>look_nicklist_position</option></entry>
  <entry>chaîne</entry>
  <entry>'left', 'right', 'top', 'bottom'</entry>
  <entry>'right'</entry>
  <entry>Position de la fenêtre d'utilisateurs (haut (top), gauche (left), droite (right, par défaut), bas (bottom))</entry>
</row>
<row>
  <entry><option>look_nicklist_min_size</option></entry>
  <entry>entier</entry>
  <entry>entre 0 et 100</entry>
  <entry>0</entry>
  <entry>Taille minimum pour la fenêtre d'utilisateurs (largeur ou hauteur, selon look_nicklist_position (0 = pas de taille minimum))</entry>
</row>
<row>
  <entry><option>look_nicklist_max_size</option></entry>
  <entry>entier</entry>
  <entry>entre 0 et 100</entry>
  <entry>0</entry>
  <entry>Taille maximum pour la fenêtre d'utilisateurs (largeur ou hauteur, selon look_nicklist_position (0 = pas de taille maximum; si min == max et > 0, alors la taille est fixe))</entry>
</row>
<row>
  <entry><option>look_no_nickname</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>'-cmd-'</entry>
  <entry>Texte à afficher en lieu et place du nom d'utilisateur lorsque la connexion n'est pas active</entry>
</row>
<row>
  <entry><option>look_nickmode</option></entry>
  <entry>booléen</entry>
  <entry>'on' ou 'off'</entry>
  <entry>'on'</entry>
  <entry>Afficher le mode de l'utilisateur ((half)op/voice) devant chaque utilisateur</entry>
</row>
<row>
  <entry><option>look_nickmode_empty</option></entry>
  <entry>booléen</entry>
  <entry>'on' ou 'off'</entry>
  <entry>'off'</entry>
  <entry>Afficher un espace si le mode utilisateur n'est pas (half)op/voice</entry>
</row>
<row>
  <entry><option>look_nick_completor</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>':'</entry>
  <entry>La chaîne affichée après la complétion des pseudos</entry>
</row>
<row>
  <entry><option>look_nick_completion_ignore</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>'[]-^'</entry>
  <entry>Caractères à ignorer pour la complétion des pseudos</entry>
</row>
<row>
  <entry><option>look_infobar</option></entry>
  <entry>booléen</entry>
  <entry>'on' ou 'off'</entry>
  <entry>'on'</entry>
  <entry>Active la barre d'infos</entry>
</row>
<row>
  <entry><option>look_infobar_timestamp</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>'%B, %A %d %Y'</entry>
  <entry>Format de date/heure dans la barre d'infos</entry>
</row>
<row>
  <entry><option>look_infobar_seconds</option></entry>
  <entry>booléen</entry>
  <entry>'on' ou 'off'</entry>
  <entry>'on'</entry>
  <entry>Afficher les secondes pour l'heure dans la barre d'infos</entry>
</row>
<row>
  <entry><option>look_infobar_delay_highlight</option></entry>
  <entry>entier</entry>
  <entry>entre 0 et 2147483647</entry>
  <entry>7</entry>
  <entry>Délai (en secondes) pour la notification des messages dans la barre d'infos (0 = désactiver les notifications dans la barre d'infos)</entry>
</row>
<row>
  <entry><option>look_hotlist_names_count</option></entry>
  <entry>entier</entry>
  <entry>entre 0 et 32</entry>
  <entry>3</entry>
  <entry>Nombre maximum de noms dans la liste d'activité (0 = pas de nom affiché, seulement les numéros de tampons)</entry>
</row>
<row>
  <entry><option>look_hotlist_names_level</option></entry>
  <entry>entier</entry>
  <entry>entre 1 et 15</entry>
  <entry>12</entry>
  <entry>Niveau pour l'affichage des noms dans la liste d'activité (combinaison de: 1=join/part, 2=message, 4=privé, 8=highlight, par exemple: 12=privé+highlight)</entry>
</row>
<row>
  <entry><option>look_hotlist_names_length</option></entry>
  <entry>entier</entry>
  <entry>entre 0 et 32</entry>
  <entry>0</entry>
  <entry>Nombre maximum des noms dans la liste d'activité (0 = pas de limite)</entry>
</row>
<row>
  <entry><option>look_day_change</option></entry>
  <entry>booléen</entry>
  <entry>'on' ou 'off'</entry>
  <entry>'on'</entry>
  <entry>Affiche un message quand le jour change</entry>
</row>
<row>
  <entry><option>look_day_change_timestamp</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>'%a, %d %b %Y'</entry>
  <entry>Format de date pour la date affichée quand le jour a changé</entry>
</row>
<row>
  <entry><option>look_read_marker</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>' '</entry>
  <entry>Utiliser un marqueur sur les serveurs/canaux pour montrer la première ligne non lue</entry>
</row>
<row>
  <entry><option>col_real_white</option></entry>
  <entry>booléen</entry>
  <entry>'on' ou 'off'</entry>
  <entry>'off'</entry>
  <entry>Si activé, utilise la vraie couleur blanche, désactivé par défaut pour les terminaux avec un fond blanc (si vous n'utilisez jamais de fond blanc, vous devriez activer cette option pour voir du vrai blanc au lieu de la couleur d'avant plan par défaut du terminal)</entry>
</row>
<row>
  <entry><option>col_separator</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'blue'</entry>
  <entry>Couleur pour les séparateurs de fenêtres (quand divisé)</entry>
</row>
<row>
  <entry><option>col_title</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'default'</entry>
  <entry>Couleur pour la barre de titre</entry>
</row>
<row>
  <entry><option>col_title_bg</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'blue'</entry>
  <entry>Couleur de fond pour la barre de titre</entry>
</row>
<row>
  <entry><option>col_chat</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'default'</entry>
  <entry>Couleur pour le texte de discussion</entry>
</row>
<row>
  <entry><option>col_chat_time</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'default'</entry>
  <entry>Couleur pour l'heure dans la fenêtre de discussion</entry>
</row>
<row>
  <entry><option>col_chat_time_sep</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'brown'</entry>
  <entry>Couleur pour la séparation de l'heure (fenêtre de discussion)</entry>
</row>
<row>
  <entry><option>col_chat_prefix1</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'lightcyan'</entry>
  <entry>Couleur pour le 1er et le 3ème caractère du préfixe</entry>
</row>
<row>
  <entry><option>col_chat_prefix2</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'white'</entry>
  <entry>Couleur pour le caractère du milieu du préfixe</entry>
</row>
<row>
  <entry><option>col_chat_server</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'brown'</entry>
  <entry>Couleur pour le nom du serveur</entry>
</row>
<row>
  <entry><option>col_chat_join</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'lightgreen'</entry>
  <entry>Couleur pour la flèche du join (préfixe)</entry>
</row>
<row>
  <entry><option>col_chat_part</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'lightred'</entry>
  <entry>Couleur pour la flèche du part/quit (préfixe)</entry>
</row>
<row>
  <entry><option>col_chat_nick</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'lightcyan'</entry>
  <entry>Couleur pour les noms d'utilisateurs dans les actions (fenêtre de discussion)</entry>
</row>
<row>
  <entry><option>col_chat_host</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'cyan'</entry>
  <entry>Couleur pour les noms de machines (fenêtre de discussion)</entry>
</row>
<row>
  <entry><option>col_chat_channel</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'white'</entry>
  <entry>Couleur pour les canaux dans les actions (fenêtre de discussion)</entry>
</row>
<row>
  <entry><option>col_chat_dark</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'green'</entry>
  <entry>Couleur pour les séparateurs sombres (fenêtre de discussion)</entry>
</row>
<row>
  <entry><option>col_chat_highlight</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'yellow'</entry>
  <entry>Couleur pour le pseudo surligné (fenêtre de discussion)</entry>
</row>
<row>
  <entry><option>col_chat_bg</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'default'</entry>
  <entry>Couleur de fond pour la fenêtre de discussion</entry>
</row>
<row>
  <entry><option>col_chat_read_marker</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'yellow'</entry>
  <entry>Couleur pour le marqueur de données non lues</entry>
</row>
<row>
  <entry><option>col_chat_read_marker_bg</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'magenta'</entry>
  <entry>Couleur de fond pour le marqueur de données non lues</entry>
</row>
<row>
  <entry><option>col_status</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'default'</entry>
  <entry>Couleur pour la barre de statut</entry>
</row>
<row>
  <entry><option>col_status_delimiters</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'cyan'</entry>
  <entry>Couleur pour les délimiteurs de la barre de statut</entry>
</row>
<row>
  <entry><option>col_status_channel</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'white'</entry>
  <entry>Couleur pour le canal courant dans la barre de statut</entry>
</row>
<row>
  <entry><option>col_status_data_msg</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'yellow'</entry>
  <entry>Couleur pour une fenêtre avec de nouvelles infos (barre de statut)</entry>
</row>
<row>
  <entry><option>col_status_private</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'lightmagenta'</entry>
  <entry>Couleur pour une fenêtre avec un message privé (barre de statut)</entry>
</row>
<row>
  <entry><option>col_status_highlight</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'lightred'</entry>
  <entry>Couleur pour une fenêtre avec un highlight (barre de statut)</entry>
</row>
<row>
  <entry><option>col_status_data_other</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'default'</entry>
  <entry>Couleur pour une fenêtre avec des nouvelles données (pas des infos) (barre de statut)</entry>
</row>
<row>
  <entry><option>col_status_more</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'white'</entry>
  <entry>Couleur pour une fenêtre avec des nouvelles données (barre de statut)</entry>
</row>
<row>
  <entry><option>col_status_bg</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'blue'</entry>
  <entry>Couleur de fond pour la fenêtre de statut</entry>
</row>
<row>
  <entry><option>col_infobar</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'black'</entry>
  <entry>Couleur pour la barre d'infos</entry>
</row>
<row>
  <entry><option>col_infobar_delimiters</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'blue'</entry>
  <entry>Couleur pour les délimiteurs de la barre d'infos</entry>
</row>
<row>
  <entry><option>col_infobar_highlight</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'white'</entry>
  <entry>Couleur pour la notification dans la barre d'infos</entry>
</row>
<row>
  <entry><option>col_infobar_bg</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'cyan'</entry>
  <entry>Couleur de fond pour la fenêtre de barre d'infos</entry>
</row>
<row>
  <entry><option>col_input</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'default'</entry>
  <entry>Couleur pour le texte saisi</entry>
</row>
<row>
  <entry><option>col_input_channel</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'white'</entry>
  <entry>Couleur pour le texte saisi (nom du canal)</entry>
</row>
<row>
  <entry><option>col_input_nick</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'lightcyan'</entry>
  <entry>Couleur pour le texte saisi (pseudo)</entry>
</row>
<row>
  <entry><option>col_input_delimiters</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'cyan'</entry>
  <entry>Couleur pour le texte saisi (délimiteurs)</entry>
</row>
<row>
  <entry><option>col_input_bg</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'default'</entry>
  <entry>Couleur de fond pour la fenêtre de saisie</entry>
</row>
<row>
  <entry><option>col_nick</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'default'</entry>
  <entry>Couleur pour les pseudos</entry>
</row>
<row>
  <entry><option>col_nick_away</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'cyan'</entry>
  <entry>Couleur pour les pseudos absents</entry>
</row>
<row>
  <entry><option>col_nick_chanowner</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'lightgreen'</entry>
  <entry>Couleur pour le symbole propriétaire du canal (spécifique à unrealircd)</entry>
</row>
<row>
  <entry><option>col_nick_chanadmin</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'lightgreen'</entry>
  <entry>Couleur pour le symbole administrateur du canal (spécifique à unrealircd)</entry>
</row>
<row>
  <entry><option>col_nick_op</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'lightgreen'</entry>
  <entry>Couleur pour le symbole opérateur</entry>
</row>
<row>
  <entry><option>col_nick_halfop</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'lightmagenta'</entry>
  <entry>Couleur pour le symbole demi-opérateur</entry>
</row>
<row>
  <entry><option>col_nick_voice</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'yellow'</entry>
  <entry>Couleur pour le symbole voix</entry>
</row>
<row>
  <entry><option>col_nick_more</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'lightmagenta'</entry>
  <entry>Couleur pour les '+' lors du scroll sur les pseudos</entry>
</row>
<row>
  <entry><option>col_nick_sep</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'blue'</entry>
  <entry>Couleur pour le séparateur de pseudos</entry>
</row>
<row>
  <entry><option>col_nick_self</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'white'</entry>
  <entry>Couleur pour le pseudo local</entry>
</row>
<row>
  <entry><option>col_nick_color1</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'cyan'</entry>
  <entry>Couleur pour le pseudo</entry>
</row>
<row>
  <entry><option>col_nick_color2</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'magenta'</entry>
  <entry>Couleur pour le pseudo</entry>
</row>
<row>
  <entry><option>col_nick_color3</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'green'</entry>
  <entry>Couleur pour le pseudo</entry>
</row>
<row>
  <entry><option>col_nick_color4</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'brown'</entry>
  <entry>Couleur pour le pseudo</entry>
</row>
<row>
  <entry><option>col_nick_color5</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'lightblue'</entry>
  <entry>Couleur pour le pseudo</entry>
</row>
<row>
  <entry><option>col_nick_color6</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'default'</entry>
  <entry>Couleur pour le pseudo</entry>
</row>
<row>
  <entry><option>col_nick_color7</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'lightcyan'</entry>
  <entry>Couleur pour le pseudo</entry>
</row>
<row>
  <entry><option>col_nick_color8</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'lightmagenta'</entry>
  <entry>Couleur pour le pseudo</entry>
</row>
<row>
  <entry><option>col_nick_color9</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'lightgreen'</entry>
  <entry>Couleur pour le pseudo</entry>
</row>
<row>
  <entry><option>col_nick_color10</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'blue'</entry>
  <entry>Couleur pour le pseudo</entry>
</row>
<row>
  <entry><option>col_nick_private</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'default'</entry>
  <entry>Couleur pour l'autre pseudo dans la fenêtre privée</entry>
</row>
<row>
  <entry><option>col_nick_bg</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'default'</entry>
  <entry>Couleur de fond pour les pseudos</entry>
</row>
<row>
  <entry><option>col_chat_dcc_selected</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'white'</entry>
  <entry>Couleur pour le DCC sélectionné (fenêtre de discussion)</entry>
</row>
<row>
  <entry><option>col_dcc_waiting</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'lightcyan'</entry>
  <entry>Couleur pour le statut dcc "attente"</entry>
</row>
<row>
  <entry><option>col_dcc_connecting</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'yellow'</entry>
  <entry>Couleur pour le statut dcc "connexion"</entry>
</row>
<row>
  <entry><option>col_dcc_active</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'lightblue'</entry>
  <entry>Couleur pour le statut dcc "actif"</entry>
</row>
<row>
  <entry><option>col_dcc_done</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'lightgreen'</entry>
  <entry>Couleur pour le statut dcc "terminé"</entry>
</row>
<row>
  <entry><option>col_dcc_failed</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'lightred'</entry>
  <entry>Couleur pour le statut dcc "échoué"</entry>
</row>
<row>
  <entry><option>col_dcc_aborted</option></entry>
  <entry>couleur</entry>
  <entry>couleur Curses ou Gtk</entry>
  <entry>'lightred'</entry>
  <entry>Couleur pour le statut dcc "interrompu"</entry>
</row>
<row>
  <entry><option>history_max_lines</option></entry>
  <entry>entier</entry>
  <entry>entre 0 et 2147483647</entry>
  <entry>4096</entry>
  <entry>Nombre maximum de lignes dans l'historique pour un serveur/fenêtre/fenêtre privée (0 = sans limite)</entry>
</row>
<row>
  <entry><option>history_max_commands</option></entry>
  <entry>entier</entry>
  <entry>entre 0 et 2147483647</entry>
  <entry>100</entry>
  <entry>Nombre maximum de commandes utilisateur dans l'historique (0 = sans limite)</entry>
</row>
<row>
  <entry><option>history_display_default</option></entry>
  <entry>entier</entry>
  <entry>entre 0 et 2147483647</entry>
  <entry>5</entry>
  <entry>Nombre maximum de commandes à afficher par défaut dans le listing d'historique (0 = sans limite)</entry>
</row>
<row>
  <entry><option>log_auto_server</option></entry>
  <entry>booléen</entry>
  <entry>'on' ou 'off'</entry>
  <entry>'off'</entry>
  <entry>Enregistrer automatiquement les messages du serveur</entry>
</row>
<row>
  <entry><option>log_auto_channel</option></entry>
  <entry>booléen</entry>
  <entry>'on' ou 'off'</entry>
  <entry>'off'</entry>
  <entry>Enregistrer automatiquement les conversations des canaux</entry>
</row>
<row>
  <entry><option>log_auto_private</option></entry>
  <entry>booléen</entry>
  <entry>'on' ou 'off'</entry>
  <entry>'off'</entry>
  <entry>Enregistrer automatiquement les conversations privées</entry>
</row>
<row>
  <entry><option>log_plugin_msg</option></entry>
  <entry>booléen</entry>
  <entry>'on' ou 'off'</entry>
  <entry>'off'</entry>
  <entry>Enregistrer les messages des plugins (scripts)</entry>
</row>
<row>
  <entry><option>log_path</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>'~/.weechat/logs/'</entry>
  <entry>Chemin pour les conversations sauvegardées par WeeChat</entry>
</row>
<row>
  <entry><option>log_timestamp</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>'%Y %b %d %H:%M:%S'</entry>
  <entry>Format de date/heure pour les conversations sauvegardées (voir strftime(3) pour le format de date/heure)</entry>
</row>
<row>
  <entry><option>log_hide_nickserv_pwd</option></entry>
  <entry>booléen</entry>
  <entry>'on' ou 'off'</entry>
  <entry>'on'</entry>
  <entry>Masquer le mot de passe affiché par nickserv</entry>
</row>
<row>
  <entry><option>irc_display_away</option></entry>
  <entry>chaîne</entry>
  <entry>'off', 'local', 'channel'</entry>
  <entry>'off'</entry>
  <entry>Affiche un message pour l'absence/le retour</entry>
</row>
<row>
  <entry><option>irc_show_away_once</option></entry>
  <entry>booléen</entry>
  <entry>'on' ou 'off'</entry>
  <entry>'on'</entry>
  <entry>Voir le message d'absence distant une seule fois en privé</entry>
</row>
<row>
  <entry><option>irc_default_msg_part</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>'WeeChat %v'</entry>
  <entry>Message par défaut pour le part (quitte un canal) ('%v' sera remplacé par la version de WeeChat dans la chaîne)</entry>
</row>
<row>
  <entry><option>irc_default_msg_quit</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>'WeeChat %v'</entry>
  <entry>Message de fin par défaut ('%v' sera remplacé par la version de WeeChat dans la chaîne)</entry>
</row>
<row>
  <entry><option>irc_notice_as_pv</option></entry>
  <entry>booléen</entry>
  <entry>'on' ou 'off'</entry>
  <entry>'off'</entry>
  <entry>Afficher les notices comme des messages privés</entry>
</row>
<row>
  <entry><option>irc_away_check</option></entry>
  <entry>entier</entry>
  <entry>entre 0 et 2147483647</entry>
  <entry>0</entry>
  <entry>Intervalle entre deux vérifications des absences (en minutes, 0 = ne jemais vérifier)</entry>
</row>
<row>
  <entry><option>irc_lag_check</option></entry>
  <entry>entier</entry>
  <entry>entre 30 et 2147483647</entry>
  <entry>60</entry>
  <entry>Intervalle entre deux mesures de lag (en secondes)</entry>
</row>
<row>
  <entry><option>irc_lag_min_show</option></entry>
  <entry>entier</entry>
  <entry>entre 0 et 2147483647</entry>
  <entry>1</entry>
  <entry>Lag minimum à afficher (en secondes)</entry>
</row>
<row>
  <entry><option>irc_lag_disconnect</option></entry>
  <entry>entier</entry>
  <entry>entre 0 et 2147483647</entry>
  <entry>5</entry>
  <entry>Déconnexion après un lag important (en minutes, 0 = ne jamais se déconnecter)</entry>
</row>
<row>
  <entry><option>irc_fifo_pipe</option></entry>
  <entry>booléen</entry>
  <entry>'on' ou 'off'</entry>
  <entry>'off'</entry>
  <entry>Créer un tube FIFO pour le contrôle à distance</entry>
</row>
<row>
  <entry><option>irc_highlight</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>''</entry>
  <entry>Liste des mots pour la notification (séparés par des virgules, la comparaison ne tient pas compte de la casse, les mots peuvent commencer ou se terminer par "*" pour une comparaison partielle)</entry>
</row>
<row>
  <entry><option>irc_colors_receive</option></entry>
  <entry>booléen</entry>
  <entry>'on' ou 'off'</entry>
  <entry>'on'</entry>
  <entry>Si désactivé, les codes couleurs des messages entrants sont ignorés</entry>
</row>
<row>
  <entry><option>irc_colors_send</option></entry>
  <entry>booléen</entry>
  <entry>'on' ou 'off'</entry>
  <entry>'on'</entry>
  <entry>Autorise l'utilisateur à envoyer des couleurs avec des codes spéciaux (%B=gras, %Cxx,yy=couleur, %U=souligné, %R=inversé)</entry>
</row>
<row>
  <entry><option>dcc_auto_accept_files</option></entry>
  <entry>booléen</entry>
  <entry>'on' ou 'off'</entry>
  <entry>'off'</entry>
  <entry>Accepte automatiquement les fichiers dcc entrants</entry>
</row>
<row>
  <entry><option>dcc_auto_accept_chats</option></entry>
  <entry>booléen</entry>
  <entry>'on' ou 'off'</entry>
  <entry>'off'</entry>
  <entry>Accepte automatiquement les demandes de discussion dcc (à utiliser avec précaution !)</entry>
</row>
<row>
  <entry><option>dcc_timeout</option></entry>
  <entry>entier</entry>
  <entry>entre 1 et 2147483647</entry>
  <entry>300</entry>
  <entry>Délai d'attente pour les requêtes dcc (en secondes)</entry>
</row>
<row>
  <entry><option>dcc_blocksize</option></entry>
  <entry>entier</entry>
  <entry>entre 1024 et 102400</entry>
  <entry>65536</entry>
  <entry>Taille de bloc pour les paquets dcc en octets (défaut: 65536)</entry>
</row>
<row>
  <entry><option>dcc_port_range</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>''</entry>
  <entry>Restreint le dcc sortant à utiliser des ports dans la plage donnée (pratique pour le NAT) (syntaxe: un port simple, par exemple 5000, une plage de ports, par exemple 5000-5015, si non renseigné tout port peut être utilisé)</entry>
</row>
<row>
  <entry><option>dcc_own_ip</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>''</entry>
  <entry>Adresse IP ou DNS utilisée pour le dcc sortant (si non renseigné, l'interface IP locale est utilisée)</entry>
</row>
<row>
  <entry><option>dcc_download_path</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>'~'</entry>
  <entry>Chemin pour écrire les fichiers reçus par dcc (par défaut: répertoire de l'utilisateur)</entry>
</row>
<row>
  <entry><option>dcc_upload_path</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>'~'</entry>
  <entry>Chemin pour lire les fichiers lorsqu'ils sont envoyés par dcc (quand aucun chemin n'est spécifié)</entry>
</row>
<row>
  <entry><option>dcc_convert_spaces</option></entry>
  <entry>booléen</entry>
  <entry>'on' ou 'off'</entry>
  <entry>'on'</entry>
  <entry>Convertir les espaces en underscores lors d'envoi de fichiers</entry>
</row>
<row>
  <entry><option>dcc_auto_rename</option></entry>
  <entry>booléen</entry>
  <entry>'on' ou 'off'</entry>
  <entry>'on'</entry>
  <entry>Renommer les fichiers reçus s'ils existent déjà (ajoute '.1', '.2', ...)</entry>
</row>
<row>
  <entry><option>dcc_auto_resume</option></entry>
  <entry>booléen</entry>
  <entry>'on' ou 'off'</entry>
  <entry>'on'</entry>
  <entry>Continuer automatiquement les transferts dcc si la connexion avec la machine distante a été perdue</entry>
</row>
<row>
  <entry><option>proxy_use</option></entry>
  <entry>booléen</entry>
  <entry>'on' ou 'off'</entry>
  <entry>'off'</entry>
  <entry>Utiliser un proxy pour se connecter au serveur irc</entry>
</row>
<row>
  <entry><option>proxy_type</option></entry>
  <entry>chaîne</entry>
  <entry>'http', 'socks4', 'socks5'</entry>
  <entry>'http'</entry>
  <entry>Type de proxy (http (défaut), socks4, socks5)</entry>
</row>
<row>
  <entry><option>proxy_ipv6</option></entry>
  <entry>booléen</entry>
  <entry>'on' ou 'off'</entry>
  <entry>'off'</entry>
  <entry>Se connecter au proxy en ipv6</entry>
</row>
<row>
  <entry><option>proxy_address</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>''</entry>
  <entry>Adresse du serveur proxy (IP ou nom)</entry>
</row>
<row>
  <entry><option>proxy_port</option></entry>
  <entry>entier</entry>
  <entry>entre 0 et 65535</entry>
  <entry>3128</entry>
  <entry>Port pour se connecter au serveur proxy</entry>
</row>
<row>
  <entry><option>proxy_username</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>''</entry>
  <entry>Nom d'utilisateur pour le serveur proxy</entry>
</row>
<row>
  <entry><option>proxy_password</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>''</entry>
  <entry>Mot de passe pour le serveur proxy</entry>
</row>
<row>
  <entry><option>plugins_path</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>'~/.weechat/plugins'</entry>
  <entry>Chemin de recherche des extensions</entry>
</row>
<row>
  <entry><option>plugins_autoload</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>'*'</entry>
  <entry>Liste des extensions à charger automatiquement au démarrage, "*" signifie toutes (séparées par des virgules, les noms peuvent être partiels, par exemple "perl" est ok pour "libperl.so")</entry>
</row>
<row>
  <entry><option>plugins_extension</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>'.so'</entry>
  <entry>Extension standard des extensions dans le nom de fichier, pour le chargement automatique (si vide, alors tous les fichiers sont chargés si autoload vaut "*")</entry>
</row>
<row>
  <entry><option>server_name</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>''</entry>
  <entry>Nom associé au serveur IRC (pour affichage seulement)</entry>
</row>
<row>
  <entry><option>server_autoconnect</option></entry>
  <entry>booléen</entry>
  <entry>'on' ou 'off'</entry>
  <entry>'on'</entry>
  <entry>Connexion automatique au serveur quand WeeChat démarre</entry>
</row>
<row>
  <entry><option>server_autoreconnect</option></entry>
  <entry>booléen</entry>
  <entry>'on' ou 'off'</entry>
  <entry>'on'</entry>
  <entry>Reconnexion automatique au serveur après une déconnexion</entry>
</row>
<row>
  <entry><option>server_autoreconnect_delay</option></entry>
  <entry>entier</entry>
  <entry>entre 0 et 65535</entry>
  <entry>30</entry>
  <entry>Délai (en secondes) avant de tenter une reconnexion au serveur</entry>
</row>
<row>
  <entry><option>server_address</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>''</entry>
  <entry>Adresse IP ou nom du serveur IRC</entry>
</row>
<row>
  <entry><option>server_port</option></entry>
  <entry>entier</entry>
  <entry>entre 0 et 65535</entry>
  <entry>6667</entry>
  <entry>Port pour se connecter au serveur</entry>
</row>
<row>
  <entry><option>server_ipv6</option></entry>
  <entry>booléen</entry>
  <entry>'on' ou 'off'</entry>
  <entry>'off'</entry>
  <entry>Utiliser le protocole IPv6 pour la communication avec le serveur</entry>
</row>
<row>
  <entry><option>server_ssl</option></entry>
  <entry>booléen</entry>
  <entry>'on' ou 'off'</entry>
  <entry>'off'</entry>
  <entry>Utiliser SSL pour la communication avec le serveur</entry>
</row>
<row>
  <entry><option>server_password</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>''</entry>
  <entry>Mot de passe pour le serveur IRC</entry>
</row>
<row>
  <entry><option>server_nick1</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>''</entry>
  <entry>Pseudo à utiliser sur le serveur IRC</entry>
</row>
<row>
  <entry><option>server_nick2</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>''</entry>
  <entry>Pseudo alternatif pour le serveur IRC (si le pseudo est déjà utilisé)</entry>
</row>
<row>
  <entry><option>server_nick3</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>''</entry>
  <entry>2ème pseudo alternatif pour le serveur IRC (si le pseudo alternatif est déjà utilisé)</entry>
</row>
<row>
  <entry><option>server_username</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>''</entry>
  <entry>Nom d'utilisateur pour le serveur IRC</entry>
</row>
<row>
  <entry><option>server_realname</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>''</entry>
  <entry>Nom réel pour le serveur IRC</entry>
</row>
<row>
  <entry><option>server_command</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>''</entry>
  <entry>Commande à exécuter en premier lorsque connecté au serveur</entry>
</row>
<row>
  <entry><option>server_command_delay</option></entry>
  <entry>entier</entry>
  <entry>entre 0 et 5</entry>
  <entry>0</entry>
  <entry>Délai (en secondes) après exécution de la commande (exemple: donner du temps pour l'authentification)</entry>
</row>
<row>
  <entry><option>server_autojoin</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>''</entry>
  <entry>Liste des canaux (séparés par des virgules) à rejoindre lorsque connecté au serveur (exemple: "#chan1,#chan2,#chan3 key1,key2")</entry>
</row>
<row>
  <entry><option>server_autorejoin</option></entry>
  <entry>booléen</entry>
  <entry>'on' ou 'off'</entry>
  <entry>'on'</entry>
  <entry>Rejoindre automatiquement les canaux quand mis dehors</entry>
</row>
<row>
  <entry><option>server_notify_levels</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>''</entry>
  <entry>Liste des niveaux de notifications (séparés par des virgules) pour les canaux de ce serveur (format: #canal:1,..)</entry>
</row>
<row>
  <entry><option>server_charset_decode_iso</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>''</entry>
  <entry>Liste des jeux de caractères (séparés par des virgules) pour le serveur et les canaux, pour décoder l'ISO (format: server:charset,#canal:charset,..)</entry>
</row>
<row>
  <entry><option>server_charset_decode_utf</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>''</entry>
  <entry>Liste des jeux de caractères (séparés par des virgules) pour le serveur et les canaux, pour décoder l'UTF (format: server:charset,#canal:charset,..)</entry>
</row>
<row>
  <entry><option>server_charset_encode</option></entry>
  <entry>chaîne</entry>
  <entry>toute chaîne</entry>
  <entry>''</entry>
  <entry>Liste des jeux de caractères (séparés par des virgules) pour le serveur et les canaux, pour encoder les messages (format: server:charset,#canal:charset,..)</entry>
</row>
