body {
    margin: 1em 2em 1em 2em;
}
div.sectionbody {
    font-family: serif,Helvetica,arial;
}
h1, h2, h3, h4, h5, h6 {
  margin: 1em 0 0.6em 0;
}

h5 {
    font-size: 0.95em;
}
pre, tt {
    font-size: 14px;
}
span.command {
    background: #EEEEFF;
    border: solid 1px #BBBBDD;
    padding: 0 8px 0 8px;
    margin-right: 12px;
}
p.table {
    margin-top: 0;
    margin-bottom: 0;
}
.key {
    border-top: solid 1px #D5D5E5;
    border-left: solid 1px #D5D5E5;
    border-bottom: solid 1px #A5A5B5;
    border-right: solid 1px #A5A5B5;
    background-color: #EEEEFF;
    padding: 0 0.3em 0 0.3em;
    margin: 0 2px 0 2px;
}
.key.ctrl {
    font-size: 0.75em;
    font-variant: small-caps;
    border-top: solid 1px #DFD0D0;
    border-left: solid 1px #DFD0D0;
    border-bottom: solid 1px #AFA0A0;
    border-right: solid 1px #AFA0A0;
    background-color: #FFF0F0;
}
.key.alt {
    font-size: 0.75em;
    font-variant: small-caps;
    border-top: solid 1px #DFBBAB;
    border-left: solid 1px #DFBBAB;
    border-bottom: solid 1px #AF8B7B;
    border-right: solid 1px #AF8B7B;
    background-color: #FFDBCB;
}
.key.shift {
    font-size: 0.75em;
    font-variant: small-caps;
    border-top: solid 1px #D5D5D5;
    border-left: solid 1px #D5D5D5;
    border-bottom: solid 1px #A5A5A5;
    border-right: solid 1px #A5A5A5;
    background-color: #F5F5F5;
}
.key.other {
    font-size: 0.75em;
    font-variant: small-caps;
    border-top: solid 1px #D0E0D0;
    border-left: solid 1px #D0E0D0;
    border-bottom: solid 1px #A0B0A0;
    border-right: solid 1px #A0B0A0;
    background-color: #EAFAEA;
}
.keyplus {
    font-size: 0.8em;
}
.hexa {
    color: #000077;
    font-size: 0.85em;
    font-family: monospace;
    font-variant: small-caps;
    border: solid 1px #8888BB;
    padding: 0 0.2em 0 0.2em;
    margin: 0 0.2em 0 0.2em;
}
