/* asciidoc styles with table of contents on the left (toc2) */

body {
  margin-left: 26em;
  margin-right: 2em;
}
#toc {
  width: 23em;
}
#toc .toclevel2 {
  margin-left: 1.5em;
  font-size: .9em;
}
#toc .toclevel3 {
  margin-left: 3em;
  font-size: .9em;
}
#toc .toclevel4 {
  margin-left: 4.5em;
  font-size: .9em;
}
