Source: weechat
Section: net
Priority: optional
Maintainer: Sebastien Helleu <flashcode@flashtux.org>
Uploaders: Julien Louis <ptitlouis@sysif.net>
Build-Depends: debhelper (>> 4.0.4), libncurses5-dev (>= 5.2.20020112a-7), libperl-dev, python-dev
Standards-Version: 3.6.1

Package: weechat
Architecture: all
Depends: weechat-common (= ${Source-Version}), weechat-curses (= ${Source-Version})
Description: Fast, light and extensible IRC client
 WeeChat (Wee Enhanced Environment for Chat) is a fast and light IRC client
 for many operating systems. Everything can be done with a keyboard.
 It is customizable and extensible with scripts.

Package: weechat-curses
Architecture: any
Depends: ${shlibs:Depends}, weechat-common (= ${Source-Version})
Description: Fast, light and extensible IRC client
 WeeChat (Wee Enhanced Environment for Chat) is a fast and light IRC client
 for many operating systems. Everything can be done with a keyboard.
 It is customizable and extensible with scripts.

Package: weechat-common
Architecture: all
Replaces: weechat
Recommends: weechat-curses | weechat-gtk
Description: Common files for WeeChat
 Documentation, examples, and locale files for WeeChat - fast, light and
 extensible IRC client. It is useless without weechat-curses or weechat-gtk.
