Source: weechat
Section: net
Priority: optional
Maintainer: Sebastien Helleu <flashcode@flashtux.org>
Uploaders: Julien Louis <ptitlouis@sysif.net>
Build-Depends-Indep: xsltproc, docbook-xsl, docbook-xml
Build-Depends: cdbs, debhelper (>= 5), libncursesw5-dev, ruby, ruby1.8-dev, libperl-dev, python-dev, liblualib50-dev, libgnutls-dev, libtool, dpkg-dev (>= 1.13.19)
Standards-Version: 3.7.2

Package: weechat
Architecture: all
Depends: weechat-common (= ${source:Version}), weechat-curses (>= ${binary:Version})
Description: Fast, light and extensible IRC client
 WeeChat (Wee Enhanced Environment for Chat) is a fast and light IRC client
 for many operating systems. Everything can be done with a keyboard.
 It is customizable and extensible with plugins/scripts, and includes:
  - nicklist
  - smart hotlist
  - infobar with highlight notification
  - horizontal and vertical split
  - double charset support (decode/encode)
  - FIFO pipe for remote control
  - and much more!
 .
 Homepage: http://weechat.flashtux.org/

Package: weechat-curses
Architecture: any
Depends: ${shlibs:Depends}, weechat-common (= ${source:Version})
Recommends: weechat-plugins (= ${binary:Version})
Description: Fast, light and extensible IRC client
 WeeChat (Wee Enhanced Environment for Chat) is a fast and light IRC client
 for many operating systems. Everything can be done with a keyboard.
 It is customizable and extensible with plugins/scripts, and includes:
  - nicklist
  - smart hotlist
  - infobar with highlight notification
  - horizontal and vertical split
  - double charset support (decode/encode)
  - FIFO pipe for remote control
  - and much more!
 .
 Homepage: http://weechat.flashtux.org/

Package: weechat-common
Architecture: all
Replaces: weechat
Recommends: weechat-curses
Description: Common files for WeeChat
 Documentation, examples, and locale files for WeeChat - fast, light and
 extensible IRC client. It is useless without weechat-curses.

Package: weechat-plugins
Architecture: any
Depends: ${shlibs:Depends}
Suggests: weechat-scripts
Description: Plugins for WeeChat
 This package provides some plugins to enhance weechat with scripting languages
 such as perl python or ruby.
