Source: weechat
Section: net
Priority: optional
Maintainer: Emmanuel Bouthenot <kolter@openics.org>
Build-Depends-Indep: xsltproc, docbook-xsl, docbook-xml
Build-Depends: debhelper (>= 5), cdbs (>= 0.4.37), cmake, libncursesw5-dev,
 ruby, ruby1.8-dev, libperl-dev, python-dev, libaspell-dev, liblua5.1-0-dev,
 tcl8.5-dev, libgnutls-dev, dpkg-dev (>= 1.13.19), pkg-config
Standards-Version: 3.8.0
Homepage: http://weechat.flashtux.org/

Package: weechat
Architecture: all
Depends: ${misc:Depends}, weechat-curses (>= ${source:Version})
Description: Fast, light and extensible IRC client
 WeeChat (Wee Enhanced Environment for Chat) is a fast and light IRC client
 for many operating systems. Everything can be done with a keyboard.
 It is customizable and extensible with plugins/scripts, and includes:
  - nicklist
  - smart hotlist
  - infobar with highlight notification
  - horizontal and vertical split
  - double charset support (decode/encode)
  - FIFO pipe for remote control
  - and much more!

Package: weechat-curses
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, weechat-core (= ${binary:Version})
Recommends: weechat-plugins (= ${binary:Version})
Description: Fast, light and extensible IRC client
 WeeChat (Wee Enhanced Environment for Chat) is a fast and light IRC client
 for many operating systems. Everything can be done with a keyboard.
 It is customizable and extensible with plugins/scripts, and includes:
  - nicklist
  - smart hotlist
  - infobar with highlight notification
  - horizontal and vertical split
  - double charset support (decode/encode)
  - FIFO pipe for remote control
  - and much more!

Package: weechat-core
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: weechat-common, weechat-plugins (<< 0.2.7)
Description: Core files for WeeChat
 This package provides core plugins and locales files for WeeChat. It currently
 ships the following plugins: irc, xfer, charset and logger.

Package: weechat-plugins
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, weechat-curses (= ${binary:Version})
Suggests: weechat-scripts
Description: Plugins for WeeChat
 This package provides some plugins to enhance WeeChat. It currently ships
 the following plugins: Perl, Python, Ruby, Lua, Tcl, Aspell, Relay and Fifo.

Package: weechat-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: Documentation for WeeChat
 This package contains the html documentation for WeeChat.

Package: weechat-dbg
Priority: extra
Architecture: any
Depends: ${misc:Depends}, weechat-curses (= ${binary:Version}) |
 weechat-core (= ${binary:Version}), weechat-plugins (= ${binary:Version})
Description: Debugging symbols for WeeChat
 This package contains gdb debugging symbols for the WeeChat packages.
