#!/usr/bin/make -f
# Sample debian/rules that uses cdbs.  Originaly written by Robert Millan.
# This file is public domain.

DEB_AUTO_CLEANUP_RCS            := yes

# Add here any variable or target overrides you need

DEB_CONFIGURE_USER_FLAGS := --with-debug=0
DEB_STRIP_EXCLUDE := libperl.a
DEB_DH_INSTALL_SOURCEDIR := $(CURDIR)/debian/tmp
DEB_INSTALL_DOCS_weechat-common :=  FAQ FAQ.fr
DEB_DH_MAKESHLIBS_ARGS_weechat-plugins := -n

DEB_HOST_ARCH_OS := $(shell dpkg-architecture -qDEB_HOST_ARCH_OS)

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
        CFLAGS += -O0
else
        CFLAGS += -O2
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
        INSTALL_PROGRAM += -s
endif

ifeq ($(DEB_HOST_ARCH_OS),hurd)
 DEB_CONFIGURE_SCRIPT_ENV += LDFLAGS="-lpthread"
endif

include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/debhelper.mk

install/weechat-common::
	install -D -o root -g root -m 644 debian/weechat.xpm $(CURDIR)/debian/weechat-common/usr/share/pixmaps/weechat.xpm

install/weechat-curses::
	install -D -o root -g root -m 644 debian/lintian-override $(CURDIR)/debian/weechat-curses/usr/share/lintian/overrides/weechat-curses
