Source: weechat
Section: net
Priority: optional
Maintainer: FlashCode <flashcode@flashtux.org>
Build-Depends: debhelper (>> 4.0.0), libncurses5 (>= 5.2.20020112a-7)
Standards-Version: 3.5.8

Package: weechat
Architecture: all
Depends: ${shlibs:Depends}, weechat-common (= ${Source-Version}), weechat-curses (= ${Source-Version}), weechat-gtk (= ${Source-Version})
Description: Fast, light and extensible IRC client
 WeeChat (Wee Enhanced Environment for Chat) is a fast and light IRC client
 for many operating systems. Everything can be done with a keyboard.
 It is customizable and extensible with scripts.

Package: weechat-curses
Architecture: any
Depends: ${shlibs:Depends}, weechat-common (= ${Source-Version})
Description: Fast, light and extensible IRC client
 WeeChat (Wee Enhanced Environment for Chat) is a fast and light IRC client
 for many operating systems. Everything can be done with a keyboard.
 It is customizable and extensible with scripts.

Package: weechat-gtk
Architecture: any
Depends: ${shlibs:Depends}, weechat-common (= ${Source-Version})
Description: Fast, light and extensible IRC client
 WeeChat (Wee Enhanced Environment for Chat) is a fast and light IRC client
 for many operating systems. Everything can be done with a keyboard.
 It is customizable and extensible with scripts.

Package: weechat-common
Architecture: all
Recommends: weechat-curses | weechat-gtk
Description: Common files for WeeChat
 Documentation, examples, and locale files for WeeChat - fast, light and
 extensible IRC client. It is useless without weechat-curses or weechat-gtk.
