#!/usr/bin/make -f

#export DH_VERBOSE=1

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	./configure --prefix=/usr --sysconfdir=/etc --mandir=\$${prefix}/share/man \
	--infodir=\$${prefix}/share/info	--enable-perl --enable-python
	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir
	$(MAKE)
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	-$(MAKE) distclean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp
	dh_install
#	install -o root -g root -m 755 src/gui/curses/weechat-curses $(CURDIR)/debian/weechat-curses/usr/bin
	# install -o root -g root -m 755 src/gui/gtk/weechat-gtk $(CURDIR)/debian/weechat-gtk/usr/bin


# Build architecture-independent files here.
binary-indep: build install
	dh_testdir -pweechat-common -pweechat
	dh_testroot -pweechat-common -pweechat
	dh_installchangelogs ChangeLog -pweechat-common
	dh_installdocs -pweechat-common
	dh_installinfo -pweechat-common
	dh_installexamples -pweechat-common
	dh_compress -pweechat-common -pweechat
	dh_link -pweechat usr/share/doc/weechat-common usr/share/doc/weechat
	dh_fixperms -pweechat-common -pweechat
	dh_installdeb -pweechat-common -pweechat
	dh_shlibdeps -pweechat-common -pweechat
	dh_gencontrol -pweechat-common -pweechat
	dh_md5sums -pweechat-common -pweechat
	dh_builddeb -pweechat-common -pweechat

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir -a
	dh_testroot -a
	# dh_installchangelogs -a
	# dh_installdocs -a
	dh_installman doc/weechat-curses.1 -pweechat-curses
	dh_link -a usr/share/doc/weechat-common usr/share/doc/weechat-curses
	dh_strip -a
	dh_compress -a
	dh_fixperms -a
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
